#respuesta {
    background-color: gray;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
    text-align: center;
}



table {
    width: 100%;
    border: 1px solid #000;
 }

 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }


#encabezado {
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
#mientrasLLega {
    text-align: justify;
    font-size: medium;
}
.mm {
    text-align: justify;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.caja {

    background-color: whitesmoke;
    margin: 20px;
    box-shadow: 17px 29px 9px 0px rgba(0,0,0,0.75); 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    

    
}

.cajam {

    
    font-family: Arial, Helvetica, sans-serif;
    

    
}


h5 {
font-size: 150%;
font-weight: bolder;
text-align: center;

}

h4 {

font-size: 120%;
font-weight: bolder;
text-align: center;
}